.slide-top {
  position: relative;
  animation-name: animatefromtop;
  transform-origin: center;
  -webkit-transform-origin: center;
}
@keyframes animatefromtop {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.initial-hidden {
  opacity: 0;
}
