$red: #f90606;
$orange: #f99106;
$yellow: #f9cf06;
$green: #80f906;
$greencss: #3e7a02;
$blue: #066ef9;
$turquoise: #06f9f9;
$purple: #8006f9;
$magenta: #f906e8;
$black: #101010;
$transparent: transparent;
$white: #fdfdfd;
$black: #101010;
