$yellow: #ffc83a;
$red: #ff008a;
$purple: #6100ff;
$blue: #001aff;
$lightgreen: #6ee5c2;
$black: #081120;
$white: #ffffff;

$bg1: #cfccf9;
$bg2: #a3b6f8;
$bg3: #e2d4d9;
$bg4: #e2d4d9;
$bg5: #ffe3cd;
$bg6: #ffcea9;
