$red: #ce1f1a;
$darkorange: #d54913;
$orange: #e98f1f;
$lightorange: #ffd300;
$yellow: #deff0a;
$yellowgreen: #a1ff0a;
$lightgreen: #0aff99;
$green: #3f7d1a;
$lightblue: #0aefff;
$blue: #147df5;
$darkblue: #0870c7;
$purple: #be0aff;
$magenta: #d03377;
$darkpurple: #580aff;
$light: #f0eef5;
$dark: #03000a;
$transparent: transparent;
$white: #fdfdfd;
$black: #101010;
