// Omen Motion
@font-face {
  font-family: 'Omen Motion';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Omen Motion/woff2/Omen Motion - Light.woff2') format('woff2'),
    url('/fonts/Omen Motion/woff/Omen Motion - Light.woff') format('woff');
}

@font-face {
  font-family: 'Omen Motion';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Omen Motion/woff2/Omen Motion - Regular.woff2') format('woff2'),
    url('/fonts/Omen Motion/woff/Omen Motion - Regular.woff') format('woff');
}

@font-face {
  font-family: 'Omen Motion';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Omen Motion/woff2/Omen Motion -  Medium.woff2') format('woff2'),
    url('/fonts/Omen Motion/woff/Omen Motion -  Medium.woff') format('woff');
}

@font-face {
  font-family: 'Omen Motion';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Omen Motion/woff2/Omen Motion -  Bold.woff2') format('woff2'),
    url('/fonts/Omen Motion/woff/Omen Motion -  Bold.woff') format('woff');
}

@font-face {
  font-family: 'Omen Motion';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Omen Motion/woff2/Omen Motion -  Black.woff2') format('woff2'),
    url('/fonts/Omen Motion/woff/Omen Motion -  Black.woff') format('woff');
}
