@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn Normal 1.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn SemiBold.woff');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn Bold 1.woff');
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Brooklyn';
  src: url('/fonts/Brooklyn Heavy 1.woff');
  font-style: medium;
  font-weight: 900;
  font-display: swap;
}
