// TODO delete file if merged from greenCSS, write it in lowercase

.text-greencss {
  color: #3e7a02;
}

.hover\:text-greencss:hover {
  color: #3e7a02;
}

.text-greencss-1 {
  color: #4a9202;
}

.hover\:text-greencss-1:hover {
  color: #4a9202;
}

.text-greencss-2 {
  color: #56aa03;
}

.hover\:text-greencss-2:hover {
  color: #56aa03;
}

.text-greencss-3 {
  color: #62c203;
}

.hover\:text-greencss-3:hover {
  color: #62c203;
}

.text-greencss-4 {
  color: #6ed904;
}

.hover\:text-greencss-4:hover {
  color: #6ed904;
}

.text-greencss-5 {
  color: #7bf104;
}

.hover\:text-greencss-5:hover {
  color: #7bf104;
}

.text-greencss-6 {
  color: #87fb12;
}

.hover\:text-greencss-6:hover {
  color: #87fb12;
}

.text-greencss-7 {
  color: #93fc2a;
}

.hover\:text-greencss-7:hover {
  color: #93fc2a;
}

.text-greencss-8 {
  color: #9ffc42;
}

.hover\:text-greencss-8:hover {
  color: #9ffc42;
}

.text-greencss-9 {
  color: #abfc5a;
}

.hover\:text-greencss-9:hover {
  color: #abfc5a;
}

.text-greencss-10 {
  color: #b7fd72;
}

.hover\:text-greencss-10:hover {
  color: #b7fd72;
}

.bg-greencss {
  background-color: #3e7a02;
}

.hover\:bg-greencss:hover {
  background-color: #3e7a02;
}

.bg-greencss-1 {
  background-color: #4a9202;
}

.hover\:bg-greencss-1:hover {
  background-color: #4a9202;
}

.bg-greencss-2 {
  background-color: #56aa03;
}

.hover\:bg-greencss-2:hover {
  background-color: #56aa03;
}

.bg-greencss-3 {
  background-color: #62c203;
}

.hover\:bg-greencss-3:hover {
  background-color: #62c203;
}

.bg-greencss-4 {
  background-color: #6ed904;
}

.hover\:bg-greencss-4:hover {
  background-color: #6ed904;
}

.bg-greencss-5 {
  background-color: #7bf104;
}

.hover\:bg-greencss-5:hover {
  background-color: #7bf104;
}

.bg-greencss-6 {
  background-color: #87fb12;
}

.hover\:bg-greencss-6:hover {
  background-color: #87fb12;
}

.bg-greencss-7 {
  background-color: #93fc2a;
}

.hover\:bg-greencss-7:hover {
  background-color: #93fc2a;
}

.bg-greencss-8 {
  background-color: #9ffc42;
}

.hover\:bg-greencss-8:hover {
  background-color: #9ffc42;
}

.bg-greencss-9 {
  background-color: #abfc5a;
}

.hover\:bg-greencss-9:hover {
  background-color: #abfc5a;
}

.bg-greencss-10 {
  background-color: #b7fd72;
}

.hover\:bg-greencss-10:hover {
  background-color: #b7fd72;
}

.active\:text-greencss:active {
  color: #3e7a02;
}

.text-greencss-1 {
  color: #4a9202;
}

.active\:text-greencss-1:active {
  color: #4a9202;
}

.text-greencss-2 {
  color: #56aa03;
}

.active\:text-greencss-2:active {
  color: #56aa03;
}

.text-greencss-3 {
  color: #62c203;
}

.active\:text-greencss-3:active {
  color: #62c203;
}

.text-greencss-4 {
  color: #6ed904;
}

.active\:text-greencss-4:active {
  color: #6ed904;
}

.text-greencss-5 {
  color: #7bf104;
}

.active\:text-greencss-5:active {
  color: #7bf104;
}

.text-greencss-6 {
  color: #87fb12;
}

.active\:text-greencss-6:active {
  color: #87fb12;
}

.text-greencss-7 {
  color: #93fc2a;
}

.active\:text-greencss-7:active {
  color: #93fc2a;
}

.text-greencss-8 {
  color: #9ffc42;
}

.active\:text-greencss-8:active {
  color: #9ffc42;
}

.text-greencss-9 {
  color: #abfc5a;
}

.active\:text-greencss-9:active {
  color: #abfc5a;
}

.text-greencss-10 {
  color: #b7fd72;
}

.active\:text-greencss-10:active {
  color: #b7fd72;
}

.active\:bg-greencss:active {
  background-color: #3e7a02;
}

.bg-greencss-1 {
  background-color: #4a9202;
}

.active\:bg-greencss-1:active {
  background-color: #4a9202;
}

.bg-greencss-2 {
  background-color: #56aa03;
}

.active\:bg-greencss-2:active {
  background-color: #56aa03;
}

.bg-greencss-3 {
  background-color: #62c203;
}

.active\:bg-greencss-3:active {
  background-color: #62c203;
}

.bg-greencss-4 {
  background-color: #6ed904;
}

.active\:bg-greencss-4:active {
  background-color: #6ed904;
}

.bg-greencss-5 {
  background-color: #7bf104;
}

.active\:bg-greencss-5:active {
  background-color: #7bf104;
}

.bg-greencss-6 {
  background-color: #87fb12;
}

.active\:bg-greencss-6:active {
  background-color: #87fb12;
}

.bg-greencss-7 {
  background-color: #93fc2a;
}

.active\:bg-greencss-7:active {
  background-color: #93fc2a;
}

.bg-greencss-8 {
  background-color: #9ffc42;
}

.active\:bg-greencss-8:active {
  background-color: #9ffc42;
}

.bg-greencss-9 {
  background-color: #abfc5a;
}

.active\:bg-greencss-9:active {
  background-color: #abfc5a;
}

.bg-greencss-10 {
  background-color: #b7fd72;
}

.active\:bg-greencss-10:active {
  background-color: #b7fd72;
}
.focus\:text-greencss:focus {
  color: #3e7a02;
}

.text-greencss-1 {
  color: #4a9202;
}

.focus\:text-greencss-1:focus {
  color: #4a9202;
}

.text-greencss-2 {
  color: #56aa03;
}

.focus\:text-greencss-2:focus {
  color: #56aa03;
}

.text-greencss-3 {
  color: #62c203;
}

.focus\:text-greencss-3:focus {
  color: #62c203;
}

.text-greencss-4 {
  color: #6ed904;
}

.focus\:text-greencss-4:focus {
  color: #6ed904;
}

.text-greencss-5 {
  color: #7bf104;
}

.focus\:text-greencss-5:focus {
  color: #7bf104;
}

.text-greencss-6 {
  color: #87fb12;
}

.focus\:text-greencss-6:focus {
  color: #87fb12;
}

.text-greencss-7 {
  color: #93fc2a;
}

.focus\:text-greencss-7:focus {
  color: #93fc2a;
}

.text-greencss-8 {
  color: #9ffc42;
}

.focus\:text-greencss-8:focus {
  color: #9ffc42;
}

.text-greencss-9 {
  color: #abfc5a;
}

.focus\:text-greencss-9:focus {
  color: #abfc5a;
}

.text-greencss-10 {
  color: #b7fd72;
}

.focus\:text-greencss-10:focus {
  color: #b7fd72;
}

.focus\:bg-greencss:focus {
  background-color: #3e7a02;
}

.bg-greencss-1 {
  background-color: #4a9202;
}

.focus\:bg-greencss-1:focus {
  background-color: #4a9202;
}

.bg-greencss-2 {
  background-color: #56aa03;
}

.focus\:bg-greencss-2:focus {
  background-color: #56aa03;
}

.bg-greencss-3 {
  background-color: #62c203;
}

.focus\:bg-greencss-3:focus {
  background-color: #62c203;
}

.bg-greencss-4 {
  background-color: #6ed904;
}

.focus\:bg-greencss-4:focus {
  background-color: #6ed904;
}

.bg-greencss-5 {
  background-color: #7bf104;
}

.focus\:bg-greencss-5:focus {
  background-color: #7bf104;
}

.bg-greencss-6 {
  background-color: #87fb12;
}

.focus\:bg-greencss-6:focus {
  background-color: #87fb12;
}

.bg-greencss-7 {
  background-color: #93fc2a;
}

.focus\:bg-greencss-7:focus {
  background-color: #93fc2a;
}

.bg-greencss-8 {
  background-color: #9ffc42;
}

.focus\:bg-greencss-8:focus {
  background-color: #9ffc42;
}

.bg-greencss-9 {
  background-color: #abfc5a;
}

.focus\:bg-greencss-9:focus {
  background-color: #abfc5a;
}

.bg-greencss-10 {
  background-color: #b7fd72;
}

.focus\:bg-greencss-10:focus {
  background-color: #b7fd72;
}
