.svgpath {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 2.5s linear alternate forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
