@use '../abstracts/color' as *;

.greencss-button {
  &:hover {
    transform: translate(-4px, -4px) !important;
    box-shadow: 4px 4px 0px $black !important;
  }
}

.greencss-button-reverse {
  &:hover {
    transform: translate(-4px, -4px) !important;
    box-shadow: 4px 4px 0px $greencss !important;
  }
}
