@use '../abstracts/color' as *;

ol {
  list-style: none;
  li {
    &::before {
      content: '\2022';
      color: $purple;
      display: inline-block;
      width: 2rem;
      margin-left: -2rem;
    }
    code {
      background-color: #f9f3ff;
      padding: 5px;
      border-radius: 5px;
      font-style: italic;
      font-size: 20px;
    }
  }
}

p {
  code {
    background-color: #f9f3ff;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
    font-size: 20px;
  }
}

img[src$='centerme'] {
  display: block;
  margin: 0 auto;
  max-height: 60rem;
  margin-block: 5rem;
}
table {
  min-width: 100%;
  margin-block: 5rem;
  text-align: left;
  display: block;
  overflow-y: scroll;
  max-height: 25rem;
  scrollbar-width: thin;
  tr {
    border-block: 1px solid $green;
    background: $white;
    width: 100%;
    th {
      font-weight: 900;
      border-inline: 1px solid $green;
    }
  }

  tbody {
    tr {
      td {
        width: 33%;
        border-inline: 1px solid $green;
      }
    }
  }
  th,
  td {
    padding: 2rem;
    font-weight: 400;
    font-size: 15px;
  }
}
