@use '../abstracts/color' as *;

@media only screen and (max-width: 768px) {
  .hamburger {
    &:hover {
      cursor: pointer;
    }
    .line {
      border-radius: 25%;
      width: 30px;
      height: 3px;
      background-color: $black;
      display: block;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .is-active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    .line:nth-child(2) {
      width: 0px;
    }
    .line:nth-child(1),
    .line:nth-child(3) {
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    .line:nth-child(1),
    .line:nth-child(3) {
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    .line:nth-child(1) {
      -webkit-transform: translateY(5.5px);
      -ms-transform: translateY(5.5px);
      -o-transform: translateY(5.5px);
      transform: translateY(5.5px);
    }
    .line:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(90deg);
      -ms-transform: translateY(-10px) rotate(90deg);
      -o-transform: translateY(-10px) rotate(90deg);
      transform: translateY(-10px) rotate(90deg);
    }
  }
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
  z-index: 98;
  width: 100%;
  height: 100%;
  display: block;
}
