name: Styling

# Triggers the eslint workflow on push and pull request events
on: [push, pull_request]

jobs:
  ESLint:
    name: ESLint run and fix
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install npm dependencies
        run: npm install
      - name: Run Eslint
        run: npm run lint
      - name: Run Prettier
        run: npm run prettier
